
	*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	}

	body{
	    color: black;
	    background-color: #ffc10717;
	}
	
	header{
		text-align: center;
		padding:10px;
		font-weight:600;
	}
	
	header h1{
		color:#363131;
	}
	
	nav ul{
		list-style:none;
		display:flex;
		justify-content:space-around;
		align-items:center;
		width:50%;
		padding:10px;
	}
	
	li a{
		text-decoration: none;
		color:#225fab;
		
	}
	
	#hero{
		display:flex;
	}
	
	#main-content{
		width: 70vw;
	}
	
	p{
		padding:50px;
		margin:10px;
			
	}
	
	.ak{
		background-color: #8bc34a4d;
	}
	
	.an{
		background-color: #8bc34a4d;
	}
	
	aside{
		width:29vw;
		text-align:center;
	}
	
	aside h2{
		padding: 10px;
	}

	
